

* {
    background-color: #73c26d;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: white;
    width: 450px;
    height: 760px;
    margin: auto auto;
    margin-top: 25px;
    margin-bottom: 45px;
    border: 7px inset;
}

header {
    margin-top: 1%;
    text-transform: capitalize;
    padding: 4px;
    text-align: center;
    text-shadow: 4px 4px 3px #6d6b6b;
}

.wrapper ol {
    margin: auto auto;

}

.wrapper li {
    background-color: white;
    line-height: 1.8em;
    list-style-position: inside;;
    padding-left: 25px;
    padding-top: 12px;
}

.wrapper li a {
    background-color: white;
}

.wrapper li a:hover {
    color: red;
}

body {
    background-color: #73c26d;
}

form {
    margin: 1em 0.5em;

}

fieldset {
    width: fit-content;
    margin: 1em 2%;
    border: 2px solid #163b13;   
}

input[type="submit"] {
    background-color: #e2ffe0;
    
}

input[name="view"] {
    margin: 4px 0;
}

input[type*="text"] {
    border: 2px solid #fff;
    border-radius: 2em;
    margin-left: 1em;
}

input[type*="submit"] {
    border-radius: 2em;
    padding: 3px;
    margin-top: 1em;
}
